doctype html
html
    head
        link(rel="stylesheet", src="./style.css")
        title Tribute Page
    body
        .main
            .gray-background
                h1.title Albert Einstein
                .img-div
                    h2.img-caption  The man who helped us understand the universe even more
                    .white-background
                        img.image(src="https://images.newscientist.com/wp-content/uploads/2019/06/18142824/einstein.jpg" alt="a colored photo of Albert Einstein")
                    h3(class="tribute-info") Albert Einstein is arguably the most influential scientist of the 20th century. His general theory of relativity changed our understanding of space and time, becoming one of the two pillars of modern physics – the other being quantum mechanics.
                h4 Here's the time line of Albert Einstein: 
                    ul
                        li June 21, 1880: The Einstein family moves to Munich, Germany.
                        li March 31, 1885: Einstein enrolls in the second grade of a Catholic elementary school called the Petersschule. He receives Jewish religious instruction at home and also begins taking violin lessons.
                        li October 1, 1888: Einstein is accepted at the Luitpold Gymnasium
                        br
                        br
                    p
                        q The important thing is not to stop questioning. Curiosity has its own reason for existing.
                    p 
                        em -Albert Einstein
                    footer If you have time, you should read more about this incredible human being on his 
                        a(id="tribute-link" href="https://en.wikipedia.org/wiki/Albert_Einstein" target="_blank") Wikipedia entry
